<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav me-auto">
                <a class="nav-link active">
                    <i class="fa-solid fa-magnifying-glass text-light bg-secondary rounded rounded-1 p-2 mx-1"></i>
                </a>
                <a class="nav-link ">
                    <i class="fa-solid fa-bell text-primary bg-info rounded rounded-1 p-2 mx-1"></i>
                </a>
                <a class="nav-link ">
                    <i class="fa-solid fa-envelope text-primary bg-info rounded rounded-1 p-2 mx-1"></i>
                </a>


            </div>
        </div>
    </div>
</nav>