<div class="container-fluid p-4">
    <!-- title -->
    <h6 class="mb-4">الصفحة الرئيسيه/ عرض جميع العقود/ بيانات العقد</h6>

    <div class="row justify-content-between align-items-center mb-2">
        <div class="col">
            <h4 class="fs-20px fw-bold">بيانات العقد</h4>
        </div>
        <div class="col">
            <div class="float-start">
                <button class="btn btn-secondary text-white mx-1">
                    <i class="fa-solid fa-plus"></i>
                    إنشاء عقد جديد
                </button>
                <button class="btn btn-outline-secondary mx-1">
                    <i class="fa-solid fa-code-pull-request"></i>
                    طلب عقد خارجي
                </button>
            </div>
        </div>
    </div>
    <!-- status -->
    <p class="text-secondary"><i class="fa-solid fa-circle-exclamation"></i> حالة العقد:<span
            class="text-dark mx-1">مفتوح</span></p>


    <!-- nav -->
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>عقد الإيجار</button>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>الدفعات</button>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>تكاليف إضافية</button>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <button ngbNavLink>خصومات</button>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
        <li [ngbNavItem]="5">
            <button ngbNavLink>الفواتير الصادرة</button>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>