<!-- 1 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">سعر السيارة </h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">300ر.س</h6>
    </div>
</div>
<h6 class="fs-12px text-gray-300"> خصومات</h6>
<!-- 2 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">خصم إداري</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">0ر.س</h6>
    </div>
</div>
<!-- 3 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">قيمة الخصم - نقاط</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">0ر.س</h6>
    </div>
</div>
<!-- 4 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">قيمة الخصم - كود خصم</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">25ر.س</h6>
    </div>
</div>
<!-- 5 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">الخصومات الكلية</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">25ر.س</h6>
    </div>
</div>
<hr>
<!-- 6 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">السعر بعد الخصم</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">275ر.س</h6>
    </div>
</div>

<h6 class="fs-12px text-gray-300"> سداد ودفعات</h6>
<!-- 7 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">أمانات مخالفات</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">0ر.س</h6>
    </div>
</div>
<!-- 8 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">إيراد يومي</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">60ر.س</h6>
    </div>
</div>
<!-- 9 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">رصيد الأمانات</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">275ر.س</h6>
    </div>
</div>
<!-- 10 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">إيراد شهري</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">275ر.س</h6>
    </div>
</div>
<!-- 11 -->
<div class="row justify-content-between mb-3">
    <div class="col-8">
        <h6 class="fs-12px float-end text-gray">إيراد إسبوعي</h6>
    </div>
    <div class="col-4">
        <h6 class="fs-12px float-start">275ر.س</h6>
    </div>
</div>
<hr>
<div class="row bg-light rounded rounded-1 py-3">
    <!-- 12 -->
    <div class="row justify-content-between mb-3">
        <div class="col-8">
            <h6 class="float-end">المبلغ الكلي</h6>
        </div>
        <div class="col-4">
            <h6 class="float-start text-secondary">2090ر.س</h6>
        </div>
    </div>
    <!-- 13 -->
    <div class="row justify-content-between mb-3">
        <div class="col-8">
            <h6 class="fs-12px float-end text-gray">السعر الكلي المدفوع</h6>
        </div>
        <div class="col-4">
            <h6 class="fs-12px float-start">2090ر.س</h6>
        </div>
    </div>
    <!-- 14 -->
    <div class="row justify-content-between mb-3">
        <div class="col-8">
            <h6 class="fs-12px float-end text-gray">الحد الإئتماني</h6>
        </div>
        <div class="col-4">
            <h6 class="fs-12px float-start">2090ر.س</h6>
        </div>
    </div>
</div>