/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;900&display=swap");

@import "./assets/scss/variable-override";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Cairo", sans-serif;
}